<head>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/boostrap/dist/js/bootstrap.js"></script>
        <script src="node_modules/propper.js/dist/umd/propper.js"></script>
        <title>{{pagetitle}}</title>
    </head>